$background-color: #292930; // Основной цвет фона
$border-radius: 8px; // Радиус скругления границ элементов
$border-color: #f5f5f514; // Цвет границ
$white-color: #F5F5F5; // Белый цвет
$gray-color: #6B6B7B; // Серый цвет
$primary-color: #6764F1; // Основной акцентный цвет
$secondary-color: #EFB62B; // Вторичный акцентный цвет
$primary-color-hover: #4d4bb8; // Основной акцентный цвет при наведении
$error-color: rgb(204, 74, 51); // Цвет для обозначения ошибок
$background-secondary-color: #303038; // Второстепенный цвет фона